<div class="header" style="height: 60px">
    <div class="float-left">
        <p class="site-title">@Html.ActionLink("your logo here", "Index", "Home")</p>
    </div>
    <div class="float-right">
        <section id="login">
            @Html.Partial("_LoginPartial")
        </section>
        <nav>
            <ul id="menu">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                <li>@Html.ActionLink("Store", "Index", "Store")</li>
            </ul>
        </nav>
    </div>
</div>